/* GLOBAL */

html {
  font-size: 16px;
}

h1 {
  color: rgba(174,75,227,0.9);
  font-weight: 700;
  font-size: 1.875rem;
  font-family: "Roboto", sans-serif;
}

/* footer2 text*/
h2 {
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,0.7);
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.044rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.7;
}

/* navigation text, read more, and footer1 text*/
a, h3 {
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,0.7);
  font-weight: 700;
  font-size: 1rem;
}

a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

/* NAVIGATION */

nav {
  width: 100%;
  height: 3.875rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.4375rem;
  background-color: #000;
}

nav a {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a img {
  height: 70%;
  width: auto;
  display: inherit;
}

nav a img:hover {
  opacity: 0.7;
}

nav a .mobile {
  display: none;
}

nav ul {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li:nth-child(3) a {
  color: #f5a623;
}

@media only screen and (max-width: 767px) {
  nav {
    padding: 0 2rem;
  }

  nav a img {
    height: 60%;
  }

  nav ul li {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 445px) {
  nav {
    height: 2.5rem;
    padding: 0 0.625rem;
    font-size: 0.75rem;
  }

  nav a img {
    height: 70%;
  }

  nav a .mobile {
    display: inherit;
  }

  nav a .desktop {
    display: none;
  }

  nav ul li {
    margin-left: 0.5rem;
  }

  nav ul li a{
    font-size: 0.8rem;
  }
}

/* JUMBOTRON */

.jumbotron {
  margin: 3.875rem 0 0 0;
  padding: 0;
  background-color: #fff;
  border-bottom: 0.625rem solid rgba(174,75,227,0.9);;
}

.jumbotron div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron div img {
  width: 50%;
  height: auto;
  display: inherit;
}

.jumbotron div .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}

.jumbotron div .text h1 {
  color: rgba(174,75,227,0.9);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.jumbotron div .text p {
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 955px) {

  .jumbotron div {
    flex-direction: column;
    justify-content: center;
  }

  .jumbotron div img {
    width: 100%;
  }

  .jumbotron div .text {
    width: 100%;
    padding: 1rem;
  }

  .jumbotron div .text h1 {
    font-size: 1.25rem;
  }

  .jumbotron div .text p {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 500px) {
  .jumbotron {
    margin: 2.5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* CONTENT */

.content {
  margin: 5.3125rem 1.125rem 2.4rem 0;
}

.content .row {
  text-align: center;
}

.content .row div {
  max-width: 25rem;
  margin: 0 0 3.75rem 0;
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.content .row div h1 {
  margin-bottom: 1.125rem;
}

.content .row div h5 {
  margin: -0.75rem 0 1.125rem 0;
}

/*  */

@media only screen and (max-width: 991px) {
  .content .row div {
    max-width: 18.75rem;
    margin: 1rem 1rem 2.25rem 1rem;
  }

  .content .row div h5 {
    font-size: 1.125rem;
  }

  .content .row div p {
    font-size: 1rem;
    line-height: 1.5;
  }

}

@media only screen and (max-width: 767px) {
  .content .row div {
    max-width: 17.5rem;
    margin: 0.5rem 0.5rem 2.25rem 0.5rem;
  }

  .content .row div h4 {
    font-size: 1rem;
  }

  .content .row div h5, p {
    font-size: 0.875rem;
    line-height: 1.7;
  }
}

/* FOOTER */

footer {
  background-image: url('../images/party.png'); background-repeat: no-repeat;
  background-position: center;    background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer1 {
  height: 3.125rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(120, 73, 225, 0.3);
  padding: 0 2rem;
}

footer .footer1 img {
  height: 2.75rem;
  width: auto;
}

footer .footer1 div {
  width: 9.375rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer1 .small {
  display: none;
}

footer .footer1 h3 {
  margin: 0;
}

footer .footer2 {
  height: 15rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  footer .footer1 {
    height: 2.1rem;
    justify-content: center;
  }

  footer .footer1 div {
    width: 5.4375rem;
  }

  footer .footer1 .large, h3, img {
    display: none;
  }

  footer .footer1 .small {
    display: inherit;
  }

  footer .footer2 {
    height: 8.75rem;
    padding-top: 1.875rem;
  }

  footer .footer2 h2 {
    font-size: 0.625rem;
    letter-spacing: 0.03rem;
  }
}
