/* GLOBAL */

html {
  font-size: 16px;
}

h1 {
  color: rgba(255,255,255,0.7);
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

  /* footer2 text*/
h2 {
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,0.7);
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.044rem;
}

p {
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,0.7);
  font-size: 1.124rem;
  line-height: 1.4rem;
}

/* navigation text, read more, and footer1 text*/
a, h3 {
  font-family: "Open Sans", sans-serif;
  color: rgba(255,255,255,0.7);
  font-weight: 700;
  font-size: 1rem;
}

a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

.btn {
  border-radius: 0.125rem;
  background-color: rgba(245,166,35,0.7);
  font-size: 1.375rem;
  padding: 1.25rem 3.125rem;
}

.btn:hover{
  color: rgba(255,255,255,1);
}

/* NAVIGATION */

nav {
  width: 100%;
  height: 3.875rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.4375rem;
  background-color: #000;
}

nav img {
  height: 3.125rem;
  width: auto;
}

nav ul {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  margin-left: 2rem;
}

/* JUMBOTRON */

.jumbotron {
  margin: 3.875rem 0 0 0;
  background-image: url('../images/dancers.png'); background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron .container {
  max-width: 45rem;
  text-align: center;
  padding-top: 9.4375rem;
}

.jumbotron .container h1 {
  color: rgba(255,255,255,0.7);
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2.6875rem;
}

.jumbotron .container p {
  margin-bottom: 5rem;
}

/* CONTENT */

.content {
  padding: 0;
}

.content .container-fluid {
  height: 31.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
}

.content .container-fluid .text {
  height: 20rem;
  width: 24rem;
  background-color: rgba(120, 73, 225, 0.9);
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.content .first {
  background-image: url('../images/graffiti.png'); background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content .second {
  background-image: url('../images/fire-photo.png'); background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content .second .text {
  background-color: rgba(173, 74, 226, 0.9);
}

.content .third {
  background-image: url('../images/jump.png'); background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* FOOTER */

footer {
  background-image: url('../images/party.png'); background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer1 {
  height: 3.125rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(120, 73, 225, 0.3);
  padding: 0 2rem;
}

footer .footer1 img {
  height: 2.75rem;
  width: auto;
}

footer .footer1 div {
  width: 9.375rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer1 h3 {
  margin: 0;
}

footer .footer2 {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
